In [43]:
import glob
import pandas as pd
import datetime

# get data file names
path =r'sp500/csv'
# ！！！CAUTION: need minutes to process all files！！！
filenames = glob.glob(path + "/*.csv")

# date_time_obj = datetime.datetime.strptime(date_time_str, '%d-%m-%Y')

# print('Date:', date_time_obj.date())

startDate = datetime.datetime.strptime('01-01-2005', '%d-%m-%Y')
endDate = datetime.datetime.strptime('01-01-2021', '%d-%m-%Y')

df_empty = pd.DataFrame(columns=[])
for filename in filenames:
    stockName = 
    
    df_tmp = pd.read_csv(filename)
    date_time_obj = datetime.datetime.strptime(df_tmp.iloc[0, 0], '%d-%m-%Y')
    print(date_time_obj)
    if startDate < date_time_obj:
        print("skip")
    else :
#         dummy algo, find the first row that date >= startDate
        i = 0
        while i < len(df_tmp.index) and datetime.datetime.strptime(df_tmp.iloc[i, 0], '%d-%m-%Y') < startDate:
            i += 1
#         concatenate df_tmp[i:] to df_empty
        if i < len(df_tmp.index):
#             print(i)
            df_tmp_open_filtered = df_tmp.iloc[i:]
            df_tmp_open_filtered = df_tmp_open_filtered.reset_index()
#             df_tmp_filtered.index = Series(range(1, len(df_tmp_filtered))   
            df_empty[filename + ' Date'] = df_tmp_open_filtered['Date']
            df_empty[filename + ' Open'] = df_tmp_open_filtered['Open']
            df_empty[filename + ' Close'] = df_tmp_open_filtered['Close']
            df_empty[filename + ' Low'] = df_tmp_open_filtered['Low']
            df_empty[filename + ' High'] = df_tmp_open_filtered['High']
            df_empty[filename + ' Volume'] = df_tmp_open_filtered['Volume']
            df_empty[filename + ' Adjusted Close'] = df_tmp_open_filtered['Adjusted Close']
                                           
#             df_empty[filename] = df_tmp['Open'].iloc[i:]
#             df_empty[filename + ' Date'] = df_tmp['Date'].iloc[i:]

1990-02-16 00:00:00
2006-02-06 00:00:00
skip
1986-04-02 00:00:00
2000-06-16 00:00:00
1985-07-22 00:00:00
2016-07-12 00:00:00
skip
1970-01-02 00:00:00
1970-01-02 00:00:00
1992-01-22 00:00:00
2011-01-27 00:00:00
skip
2000-08-11 00:00:00
1973-05-02 00:00:00
2008-03-19 00:00:00
skip
2015-01-02 00:00:00
skip
1999-11-18 00:00:00
2010-12-15 00:00:00
skip
1970-01-02 00:00:00
1984-09-07 00:00:00
1993-03-19 00:00:00
1987-06-10 00:00:00
2007-11-15 00:00:00
skip
2010-01-05 00:00:00
skip
1973-05-03 00:00:00
2013-04-22 00:00:00
skip
1985-04-18 00:00:00
1980-03-17 00:00:00
2004-12-15 00:00:00
2011-03-10 00:00:00
skip
1984-06-20 00:00:00
1970-01-02 00:00:00
1977-01-03 00:00:00
1983-11-21 00:00:00
2005-08-11 00:00:00
skip
2012-06-18 00:00:00
skip
1988-05-02 00:00:00
1981-12-31 00:00:00
2014-09-24 00:00:00
skip
2006-10-02 00:00:00
skip
1991-11-08 00:00:00
1977-01-03 00:00:00
1995-07-10 00:00:00
1980-03-17 00:00:00
1990-03-29 00:00:00
1980-03-17 00:00:00
2017-11-01 00:00:00
skip
1973-02-21 00:00:00
1973-02-21 00:00:00
1973-02-21 00:00:00
1980-03-17 00:00:00
2012-04-12 00:00:00
skip
2001-01-16 00:00:00
1980-03-17 00:00:00
2015-06-09 00:00:00
skip
1996-02-01 00:00:00
1994-06-07 00:00:00
1996-10-29 00:00:00
1972-06-01 00:00:00
1980-03-17 00:00:00
1980-03-17 00:00:00
1972-06-01 00:00:00
1994-03-17 00:00:00
2007-10-25 00:00:00
skip
1997-05-28 00:00:00
1980-03-17 00:00:00
1993-03-25 00:00:00
1980-03-17 00:00:00
1972-06-01 00:00:00
1980-01-02 00:00:00
2012-06-18 00:00:00
skip
2012-06-29 00:00:00
skip
1986-07-09 00:00:00
1993-10-29 00:00:00
1980-03-17 00:00:00
2001-06-13 00:00:00
1980-03-17 00:00:00
1973-02-21 00:00:00
2004-02-05 00:00:00
2021-01-05 00:00:00
skip
2000-04-05 00:00:00
2010-12-31 00:00:00
skip
1987-08-20 00:00:00
1987-06-26 00:00:00
2011-06-24 00:00:00
skip
2007-04-02 00:00:00
skip
1980-03-17 00:00:00
1970-01-02 00:00:00
2002-12-11 00:00:00
1981-12-31 00:00:00
1997-06-18 00:00:00
2015-07-06 00:00:00
skip
1980-01-02 00:00:00
2013-11-18 00:00:00
skip
2013-01-02 00:00:00
skip
1973-02-21 00:00:00
1998-09-24 00:00:00
1992-06-26 00:00:00
2017-05-12 00:00:00
skip
1998-02-27 00:00:00
1993-03-12 00:00:00
2004-07-13 00:00:00
1986-02-06 00:00:00
2006-12-13 00:00:00
skip
1970-01-02 00:00:00
1970-01-02 00:00:00
1991-10-24 00:00:00
1970-01-02 00:00:00
1985-12-09 00:00:00
1997-05-15 00:00:00
2013-02-27 00:00:00
skip
1973-05-03 00:00:00
1973-02-21 00:00:00
2006-07-13 00:00:00
skip
1998-02-12 00:00:00
2005-04-14 00:00:00
skip
2004-08-16 00:00:00
1990-03-01 00:00:00
2010-11-18 00:00:00
skip
1972-06-01 00:00:00
2009-10-07 00:00:00
skip
1980-03-17 00:00:00
1981-12-31 00:00:00
1997-06-12 00:00:00
2007-03-22 00:00:00
skip
2013-02-28 00:00:00
skip
1998-08-18 00:00:00
1970-01-02 00:00:00
1988-01-26 00:00:00
1980-03-17 00:00:00
1999-06-25 00:00:00
1992-06-05 00:00:00
1970-01-02 00:00:00
1973-02-21 00:00:00
1985-06-28 00:00:00
1970-01-02 00:00:00
1970-01-02 00:00:00
1980-03-17 00:00:00
1978-10-31 00:00:00
1973-02-21 00:00:00
1999-11-10 00:00:00
1993-06-22 00:00:00
1980-03-17 00:00:00
1972-06-01 00:00:00
1986-03-13 00:00:00
1983-08-19 00:00:00
1980-02-27 00:00:00
2012-01-17 00:00:00
skip
1980-03-17 00:00:00
1980-03-17 00:00:00
2014-11-06 00:00:00
skip
1984-07-19 00:00:00
1993-10-05 00:00:00
2001-07-19 00:00:00
1998-01-30 00:00:00
2000-03-27 00:00:00
2006-01-26 00:00:00
skip
2008-04-23 00:00:00
skip
1983-01-21 00:00:00
1980-03-17 00:00:00
1970-01-02 00:00:00
2003-10-01 00:00:00
1980-03-17 00:00:00
1994-02-17 00:00:00
1973-02-21 00:00:00
2001-11-29 00:00:00
1993-10-25 00:00:00
1989-09-20 00:00:00
1972-06-01 00:00:00
1993-12-14 00:00:00
1980-03-17 00:00:00
2002-07-01 00:00:00
1997-12-18 00:00:00
1973-02-21 00:00:00
1997-02-04 00:00:00
2015-06-24 00:00:00
skip
1980-03-17 00:00:00
2012-06-18 00:00:00
skip
2010-09-22 00:00:00
skip
1991-09-17 00:00:00
1997-10-16 00:00:00
1992-02-13 00:00:00
2010-03-09 00:00:00
skip
1991-06-21 00:00:00
1980-03-17 00:00:00
1981-09-22 00:00:00
1994-02-22 00:00:00
2011-06-08 00:00:00
skip
1980-06-02 00:00:00
2013-02-01 00:00:00
skip
1978-04-12 00:00:00
2009-11-13 00:00:00
skip
1980-03-17 00:00:00
1980-03-17 00:00:00
1987-09-22 00:00:00
1995-11-03 00:00:00
1991-04-02 00:00:00
1972-06-01 00:00:00
2015-10-19 00:00:00
skip
2007-06-14 00:00:00
skip
1980-03-17 00:00:00
1980-03-17 00:00:00
1981-12-31 00:00:00
1973-05-03 00:00:00
2001-07-25 00:00:00
2010-12-09 00:00:00
skip
2002-12-06 00:00:00
2010-06-25 00:00:00
skip
1970-01-02 00:00:00
2005-09-15 00:00:00
skip
1973-02-21 00:00:00
2005-11-16 00:00:00
skip
1995-12-08 00:00:00
1983-09-23 00:00:00
2012-07-23 00:00:00
skip
1981-07-09 00:00:00
2018-08-28 00:00:00
skip
1993-12-14 00:00:00
1981-12-31 00:00:00
2007-09-25 00:00:00
skip
2003-12-02 00:00:00
1982-06-02 00:00:00
2015-09-25 00:00:00
skip
2013-04-09 00:00:00
skip
2001-06-20 00:00:00
2012-10-12 00:00:00
skip
1997-05-05 00:00:00
1980-03-17 00:00:00
1975-06-12 00:00:00
1993-10-13 00:00:00
1984-09-07 00:00:00
2011-10-13 00:00:00
skip
1973-02-21 00:00:00
2012-05-18 00:00:00
skip
1980-03-17 00:00:00
1977-01-03 00:00:00
1997-11-21 00:00:00
1970-01-02 00:00:00
1973-05-03 00:00:00
1992-05-19 00:00:00
2003-10-06 00:00:00
2011-09-16 00:00:00
skip
1973-03-13 00:00:00
2016-12-16 00:00:00
skip
2013-11-07 00:00:00
skip
1989-10-04 00:00:00
1980-03-17 00:00:00
1980-03-17 00:00:00
2015-07-01 00:00:00
skip
2013-02-15 00:00:00
skip
1995-11-17 00:00:00
1977-01-03 00:00:00
1970-01-02 00:00:00
2008-03-17 00:00:00
skip
1995-10-03 00:00:00
1994-10-31 00:00:00
1973-02-21 00:00:00
1983-08-04 00:00:00
1973-02-21 00:00:00
1999-01-04 00:00:00
1996-12-17 00:00:00
1994-03-11 00:00:00
1970-01-02 00:00:00
1970-01-02 00:00:00
2011-03-22 00:00:00
skip
2006-10-17 00:00:00
skip
1973-05-03 00:00:00
2001-01-30 00:00:00
2002-05-23 00:00:00
1980-03-17 00:00:00
1980-03-17 00:00:00
2006-11-06 00:00:00
skip
1973-02-21 00:00:00
2004-08-02 00:00:00
1980-03-17 00:00:00
2013-12-09 00:00:00
skip
2015-07-06 00:00:00
skip
1983-09-30 00:00:00
1997-11-10 00:00:00
1995-04-04 00:00:00
1980-03-17 00:00:00
1980-03-17 00:00:00
1980-03-17 00:00:00
1994-02-17 00:00:00
1980-03-17 00:00:00
1980-03-17 00:00:00
1983-11-22 00:00:00
1981-12-31 00:00:00
1990-02-08 00:00:00
2001-12-13 00:00:00
1994-11-10 00:00:00
1973-02-21 00:00:00
1980-03-17 00:00:00
2011-10-12 00:00:00
skip
1999-10-29 00:00:00
1980-03-17 00:00:00
1995-06-02 00:00:00
1973-10-23 00:00:00
2014-06-06 00:00:00
skip
2014-05-29 00:00:00
skip
2006-07-05 00:00:00
skip
1983-08-26 00:00:00
1980-03-17 00:00:00
1995-05-09 00:00:00
2000-10-23 00:00:00
2000-07-28 00:00:00
2005-09-27 00:00:00
skip
2000-08-16 00:00:00
1990-06-12 00:00:00
1994-01-28 00:00:00
1999-03-16 00:00:00
1973-02-21 00:00:00
2002-07-17 00:00:00
1999-06-04 00:00:00
1980-03-17 00:00:00
1973-02-21 00:00:00
2004-11-05 00:00:00
1998-06-29 00:00:00
1993-04-23 00:00:00
1995-08-25 00:00:00
1993-04-28 00:00:00
1997-08-08 00:00:00
2013-06-13 00:00:00
skip
1992-02-26 00:00:00
2004-08-19 00:00:00
1987-10-26 00:00:00
1997-09-17 00:00:00
2005-12-21 00:00:00
skip
1992-05-19 00:00:00
1972-06-01 00:00:00
1991-04-02 00:00:00
1973-05-02 00:00:00
1980-03-17 00:00:00
1999-06-10 00:00:00
2016-03-23 00:00:00
skip
1983-11-21 00:00:00
1987-09-28 00:00:00
1980-03-17 00:00:00
1983-06-17 00:00:00
2007-06-14 00:00:00
skip
1985-11-20 00:00:00
1980-03-17 00:00:00
2012-06-18 00:00:00
skip
1982-04-01 00:00:00
1980-03-17 00:00:00
2009-12-17 00:00:00
skip
1998-07-01 00:00:00
1974-12-17 00:00:00
2001-10-30 00:00:00
2010-04-28 00:00:00
skip
1980-03-17 00:00:00
1980-03-17 00:00:00
1985-08-08 00:00:00
2004-06-03 00:00:00
1980-01-02 00:00:00
1996-02-28 00:00:00
1973-02-21 00:00:00
1980-10-01 00:00:00
1973-05-03 00:00:00
2014-07-31 00:00:00
skip
1980-03-17 00:00:00
1997-08-15 00:00:00
1992-04-01 00:00:00
2007-05-03 00:00:00
skip
1979-05-15 00:00:00
1973-02-21 00:00:00
1973-02-21 00:00:00
2013-01-18 00:00:00
skip
1980-03-17 00:00:00
1982-07-30 00:00:00
2012-08-03 00:00:00
skip
1983-07-01 00:00:00
1980-03-17 00:00:00
2001-12-13 00:00:00
1980-03-17 00:00:00
1986-09-25 00:00:00
1981-12-31 00:00:00
1993-08-12 00:00:00
1988-02-29 00:00:00
1988-07-06 00:00:00
1980-03-17 00:00:00
1995-10-31 00:00:00
2006-09-06 00:00:00
skip
1970-01-02 00:00:00
1994-10-18 00:00:00
1980-03-17 00:00:00
1997-04-15 00:00:00
1999-11-05 00:00:00
1981-12-31 00:00:00
1980-12-12 00:00:00

2012-12-04 00:00:00
skip
1973-05-03 00:00:00
1980-03-17 00:00:00
2000-12-08 00:00:00
1998-01-02 00:00:00
2013-12-12 00:00:00
skip
1989-08-23 00:00:00
1995-03-07 00:00:00
1980-03-17 00:00:00
2007-04-19 00:00:00
skip
1995-11-21 00:00:00
1991-11-22 00:00:00
1981-10-27 00:00:00
1977-01-03 00:00:00
1987-07-29 00:00:00
1987-11-05 00:00:00
1986-11-06 00:00:00
2014-10-20 00:00:00
skip
1972-06-01 00:00:00
2002-10-25 00:00:00
1980-03-17 00:00:00
1980-03-17 00:00:00
2000-01-28 00:00:00
1994-01-03 00:00:00
1998-06-19 00:00:00
1980-03-17 00:00:00
1984-06-01 00:00:00
1975-11-17 00:00:00
1970-01-02 00:00:00
2019-04-04 00:00:00
skip
1970-01-02 00:00:00
1988-06-22 00:00:00
1980-03-17 00:00:00
2001-06-15 00:00:00
2004-06-23 00:00:00
1995-11-17 00:00:00
1989-06-02 00:00:00
1993-08-13 00:00:00
1984-05-04 00:00:00
1980-03-17 00:00:00
1999-10-01 00:00:00

In [32]:
df_empty

,sp500/csv/CSCO.csv,sp500/csv/CSCO.csv Date,sp500/csv/TROW.csv,sp500/csv/TROW.csv Date,sp500/csv/ISRG.csv,sp500/csv/ISRG.csv Date,sp500/csv/NVR.csv,sp500/csv/NVR.csv Date,sp500/csv/MRO.csv,sp500/csv/MRO.csv Date,...,sp500/csv/IEX.csv,sp500/csv/IEX.csv Date,sp500/csv/BWA.csv,sp500/csv/BWA.csv Date,sp500/csv/LRCX.csv,sp500/csv/LRCX.csv Date,sp500/csv/NWL.csv,sp500/csv/NWL.csv Date,sp500/csv/BLK.csv,sp500/csv/BLK.csv Date
3751,19.420000,03-01-2005,NaN,NaN,167.550003,18-05-2015,NaN,NaN,NaN,NaN,...,NaN,NaN,20.070000,07-07-2008,NaN,NaN,NaN,NaN,330.000000,29-08-2014
3752,19.379999,04-01-2005,NaN,NaN,167.773331,19-05-2015,NaN,NaN,NaN,NaN,...,NaN,NaN,19.215000,08-07-2008,NaN,NaN,NaN,NaN,332.410004,02-09-2014
3753,18.469999,05-01-2005,NaN,NaN,168.000000,20-05-2015,NaN,NaN,NaN,NaN,...,NaN,NaN,20.100000,09-07-2008,NaN,NaN,NaN,NaN,331.579987,03-09-2014
3754,18.670000,06-01-2005,NaN,NaN,163.660004,21-05-2015,NaN,NaN,NaN,NaN,...,NaN,NaN,19.934999,10-07-2008,NaN,NaN,NaN,NaN,333.049988,04-09-2014
3755,18.920000,07-01-2005,NaN,NaN,164.929993,22-05-2015,NaN,NaN,NaN,NaN,...,NaN,NaN,19.700001,11-07-2008,NaN,NaN,NaN,NaN,331.000000,05-09-2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7828,49.189999,16-03-2021,72.309998,20-04-2017,NaN,NaN,1704.500000,09-08-2016,NaN,NaN,...,151.600006,26-06-2020,NaN,NaN,80.989998,22-05-2015,19.270000,25-03-2011,NaN,NaN
7829,49.610001,17-03-2021,72.379997,21-04-2017,NaN,NaN,1707.209961,10-08-2016,NaN,NaN,...,155.839996,29-06-2020,NaN,NaN,80.709999,26-05-2015,19.570000,28-03-2011,NaN,NaN
7830,48.520000,18-03-2021,72.970001,24-04-2017,NaN,NaN,1707.040039,11-08-2016,NaN,NaN,...,153.860001,30-06-2020,NaN,NaN,80.570000,27-05-2015,19.190001,29-03-2011,NaN,NaN
7831,48.709999,19-03-2021,71.000000,25-04-2017,NaN,NaN,1707.000000,12-08-2016,NaN,NaN,...,158.250000,01-07-2020,NaN,NaN,82.610001,28-05-2015,19.360001,30-03-2011,NaN,NaN
7832,48.939999,22-03-2021,69.500000,26-04-2017,NaN,NaN,1699.000000,15-08-2016,NaN,NaN,...,157.449997,02-07-2020,NaN,NaN,82.379997,29-05-2015,19.290001,31-03-2011,NaN,NaN

In [44]:
pd.DataFrame(df_empty.iloc[0:100])

,sp500/csv/CSCO.csv Date,sp500/csv/CSCO.csv Open,sp500/csv/CSCO.csv Close,sp500/csv/CSCO.csv Low,sp500/csv/CSCO.csv High,sp500/csv/CSCO.csv Volume,sp500/csv/CSCO.csv Adjusted Close,sp500/csv/TROW.csv Date,sp500/csv/TROW.csv Open,sp500/csv/TROW.csv Close,...,sp500/csv/NWL.csv High,sp500/csv/NWL.csv Volume,sp500/csv/NWL.csv Adjusted Close,sp500/csv/BLK.csv Date,sp500/csv/BLK.csv Open,sp500/csv/BLK.csv Close,sp500/csv/BLK.csv Low,sp500/csv/BLK.csv High,sp500/csv/BLK.csv Volume,sp500/csv/BLK.csv Adjusted Close
0,03-01-2005,19.420000,19.320000,19.270000,19.610001,56725600,14.448113,03-01-2005,31.230000,30.830000,...,24.549999,1706900,14.724539,03-01-2005,77.010002,75.779999,75.769997,77.349998,25900,52.010536
1,04-01-2005,19.379999,18.559999,18.540001,19.389999,106241900,13.879755,04-01-2005,30.844999,29.969999,...,24.129999,1234800,14.491594,04-01-2005,75.769997,75.550003,74.949997,76.250000,24500,51.852680
2,05-01-2005,18.469999,18.570000,18.450001,18.879999,66100500,13.887231,05-01-2005,29.905001,29.844999,...,23.510000,1095500,14.191222,05-01-2005,75.699997,74.849998,74.750000,75.699997,24600,51.372242
3,06-01-2005,18.670000,18.850000,18.559999,18.860001,63790900,14.096630,06-01-2005,29.785000,30.129999,...,23.299999,1257800,14.228000,06-01-2005,76.250000,80.000000,76.209999,80.580002,300600,54.906906
4,07-01-2005,18.920000,18.719999,18.620001,18.980000,54415000,13.999409,07-01-2005,30.180000,29.905001,...,23.400000,1079400,14.240260,07-01-2005,80.000000,78.339996,77.949997,81.000000,147300,53.767574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19-05-2005,19.230000,19.379999,19.180000,19.430000,46846000,14.492977,19-05-2005,29.590000,29.745001,...,22.629999,731700,13.957426,19-05-2005,78.339996,78.239998,77.669998,78.839996,42000,53.901134
96,20-05-2005,19.389999,19.469999,19.280001,19.510000,34181700,14.560287,20-05-2005,29.790001,29.764999,...,22.730000,755100,14.037855,20-05-2005,78.360001,78.209999,77.550003,78.400002,49300,53.880459
97,23-05-2005,19.350000,19.549999,19.330000,19.590000,49768500,14.620111,23-05-2005,29.820000,29.860001,...,23.020000,1566600,14.167782,23-05-2005,78.250000,78.050003,78.000000,78.849998,55200,53.770252
98,24-05-2005,19.480000,20.000000,19.400000,20.010000,86130000,14.956637,24-05-2005,29.860001,29.639999,...,23.000000,2240600,14.118283,24-05-2005,78.000000,77.500000,76.650002,78.050003,92400,53.391335
99,25-05-2005,19.840000,19.620001,19.510000,19.889999,66102100,14.672464,25-05-2005,29.504999,29.165001,...,22.620001,1561300,13.980907,25-05-2005,77.500000,77.580002,77.099998,77.839996,63500,53.446468