In [41]:
import glob
import pandas as pd
import datetime

# get data file names
path =r'sp500/csv'
# ！！！CAUTION: need minutes to process all files！！！
filenames = glob.glob(path + "/*.csv")

# date_time_obj = datetime.datetime.strptime(date_time_str, '%d-%m-%Y')

# print('Date:', date_time_obj.date())

startDate = datetime.datetime.strptime('01-01-2005', '%d-%m-%Y')
endDate = datetime.datetime.strptime('01-01-2021', '%d-%m-%Y')

df_empty = pd.DataFrame(columns=[])
for filename in filenames:
    df_tmp = pd.read_csv(filename)
    date_time_obj = datetime.datetime.strptime(df_tmp.iloc[0, 0], '%d-%m-%Y')
    print(date_time_obj)
    if startDate < date_time_obj:
        print("skip")
    else :
#         dummy algo, find the first row that date >= startDate
        i = 0
        while i < len(df_tmp.index) and datetime.datetime.strptime(df_tmp.iloc[i, 0], '%d-%m-%Y') < startDate:
            i += 1
#         concatenate df_tmp[i:] to df_empty
        if i < len(df_tmp.index):
            print(i)
            df_tmp_open_filtered = df_tmp.iloc[i:]
            df_tmp_open_filtered = df_tmp_open_filtered.reset_index()
#             df_tmp_filtered.index = Series(range(1, len(df_tmp_filtered))                      
            df_empty[filename] = df_tmp_open_filtered['Open']
            df_empty[filename + ' Date'] = df_tmp_open_filtered['Date']
                                           
#             df_empty[filename] = df_tmp['Open'].iloc[i:]
#             df_empty[filename + ' Date'] = df_tmp['Date'].iloc[i:]

1990-02-16 00:00:00
3751
2006-02-06 00:00:00
skip
1986-04-02 00:00:00
4733
2000-06-16 00:00:00
1141
1985-07-22 00:00:00
4908
2016-07-12 00:00:00
skip
1970-01-02 00:00:00
8838
1970-01-02 00:00:00
8838
1992-01-22 00:00:00
3264
2011-01-27 00:00:00
skip
2000-08-11 00:00:00
1102
1973-05-02 00:00:00
7997
2008-03-19 00:00:00
skip
2015-01-02 00:00:00
skip
1999-11-18 00:00:00
1286
2010-12-15 00:00:00
skip
1970-01-02 00:00:00
8838
1984-09-07 00:00:00
5127
1993-03-19 00:00:00
2971
1987-06-10 00:00:00
4432
2007-11-15 00:00:00
skip
2010-01-05 00:00:00
skip
1973-05-03 00:00:00
7996
2013-04-22 00:00:00
skip
1985-04-18 00:00:00
4973
1980-03-17 00:00:00
6260
2004-12-15 00:00:00
12
2011-03-10 00:00:00
skip
1984-06-20 00:00:00
5182
1970-01-02 00:00:00
8838
1977-01-03 00:00:00
7069
1983-11-21 00:00:00
5328
2005-08-11 00:00:00
skip
2012-06-18 00:00:00
skip
1988-05-02 00:00:00
4206
1981-12-31 00:00:00
5807
2014-09-24 00:00:00
skip
2006-10-02 00:00:00
skip
1991-11-08 00:00:00
3314
1977-01-03 00:00:00
7069
1995-07-10 00:00:00
2389
1980-03-17 00:00:00
6260
1990-03-29 00:00:00
3723
1980-03-17 00:00:00
6260
2017-11-01 00:00:00
skip
1973-02-21 00:00:00
8046
1973-02-21 00:00:00
8046
1973-02-21 00:00:00
8046
1980-03-17 00:00:00
6260
2012-04-12 00:00:00
skip
2001-01-16 00:00:00
995
1980-03-17 00:00:00
6260
2015-06-09 00:00:00
skip
1996-02-01 00:00:00
2245
1994-06-07 00:00:00
2664
1996-10-29 00:00:00
2057
1972-06-01 00:00:00
8226
1980-03-17 00:00:00
6260
1980-03-17 00:00:00
6260
1972-06-01 00:00:00
8226
1994-03-17 00:00:00
2719
2007-10-25 00:00:00
skip
1997-05-28 00:00:00
1912
1980-03-17 00:00:00
6260
1993-03-25 00:00:00
2967
1980-03-17 00:00:00
6260
1972-06-01 00:00:00
8226
1980-01-02 00:00:00
6312
2012-06-18 00:00:00
skip
2012-06-29 00:00:00
skip
1986-07-09 00:00:00
4665
1993-10-29 00:00:00
2815
1980-03-17 00:00:00
6260
2001-06-13 00:00:00
892
1980-03-17 00:00:00
6260
1973-02-21 00:00:00
8046
2004-02-05 00:00:00
229
2021-01-05 00:00:00
skip
2000-04-05 00:00:00
1191
2010-12-31 00:00:00
skip
1987-08-20 00:00:00
4382
1987-06-26 00:00:00
4420
2011-06-24 00:00:00
skip
2007-04-02 00:00:00
skip
1980-03-17 00:00:00
6260
1970-01-02 00:00:00
8838
2002-12-11 00:00:00
518
1981-12-31 00:00:00
5807
1997-06-18 00:00:00
1897
2015-07-06 00:00:00
skip
1980-01-02 00:00:00
6312
2013-11-18 00:00:00
skip
2013-01-02 00:00:00
skip
1973-02-21 00:00:00
8046
1998-09-24 00:00:00
1577
1992-06-26 00:00:00
3155
2017-05-12 00:00:00
skip
1998-02-27 00:00:00
1722
1993-03-12 00:00:00
2976
2004-07-13 00:00:00
121
1986-02-06 00:00:00
4770
2006-12-13 00:00:00
skip
1970-01-02 00:00:00
8838
1970-01-02 00:00:00
8838
1991-10-24 00:00:00
3325
1970-01-02 00:00:00
8838
1985-12-09 00:00:00
4811
1997-05-15 00:00:00
1920
2013-02-27 00:00:00
skip
1973-05-03 00:00:00
7996
1973-02-21 00:00:00
8046
2006-07-13 00:00:00
skip
1998-02-12 00:00:00
1732
2005-04-14 00:00:00
skip
2004-08-16 00:00:00
97
1990-03-01 00:00:00
3743
2010-11-18 00:00:00
skip
1972-06-01 00:00:00
8226
2009-10-07 00:00:00
skip
1980-03-17 00:00:00
6260
1981-12-31 00:00:00
5807
1997-06-12 00:00:00
1901
2007-03-22 00:00:00
skip
2013-02-28 00:00:00
skip
1998-08-18 00:00:00
1603
1970-01-02 00:00:00
8838
1988-01-26 00:00:00
4273
1980-03-17 00:00:00
6260
1999-06-25 00:00:00
1388
1992-06-05 00:00:00
3170
1970-01-02 00:00:00
8838
1973-02-21 00:00:00
8046
1985-06-28 00:00:00
4923
1970-01-02 00:00:00
8838
1970-01-02 00:00:00
8838
1980-03-17 00:00:00
6260
1978-10-31 00:00:00
6607
1973-02-21 00:00:00
8046
1999-11-10 00:00:00
1292
1993-06-22 00:00:00
2906
1980-03-17 00:00:00
6260
1972-06-01 00:00:00
8226
1986-03-13 00:00:00
4746
1983-08-19 00:00:00
5393
1980-02-27 00:00:00
6273
2012-01-17 00:00:00
skip
1980-03-17 00:00:00
6260
1980-03-17 00:00:00
6260
2014-11-06 00:00:00
skip
1984-07-19 00:00:00
5162
1993-10-05 00:00:00
2833
2001-07-19 00:00:00
867
1998-01-30 00:00:00
1741
2000-03-27 00:00:00
1198
2006-01-26 00:00:00
skip
2008-04-23 00:00:00
skip
1983-01-21 00:00:00
5539
1980-03-17 00:00:00
6260
1970-01-02 00:00:00
8838
2003-10-01 00:00:00
316
1980-03-17 00:00:00
6260
1994-02-17 00:00:00
2738
1973-02-21 00:00:00
8046
2001-11-29 00:00:00
778
1993-10-25 00:00:00
2819
1989-09-20 00:00:00
3855
1972-06-01 00:00:00
8226
1993-12-14 00:00:00
2784
1980-03-17 00:00:00
6260
2002-07-01 00:00:00
632
1997-12-18 00:00:00
1769
1973-02-21 00:00:00
8046
1997-02-04 00:00:00
1990
2015-06-24 00:00:00
skip
1980-03-17 00:00:00
6260
2012-06-18 00:00:00
skip
2010-09-22 00:00:00
skip
1991-09-17 00:00:00
3352
1997-10-16 00:00:00
1813
1992-02-13 00:00:00
3248
2010-03-09 00:00:00
skip
1991-06-21 00:00:00
3412
1980-03-17 00:00:00
6260
1981-09-22 00:00:00
5877
1994-02-22 00:00:00
2736
2011-06-08 00:00:00
skip
1980-06-02 00:00:00
6207
2013-02-01 00:00:00
skip
1978-04-12 00:00:00
6748
2009-11-13 00:00:00
skip
1980-03-17 00:00:00
6260
1980-03-17 00:00:00
6260
1987-09-22 00:00:00
4360
1995-11-03 00:00:00
2306
1991-04-02 00:00:00
3469
1972-06-01 00:00:00
8226
2015-10-19 00:00:00
skip
2007-06-14 00:00:00
skip
1980-03-17 00:00:00
6260
1980-03-17 00:00:00
6260
1981-12-31 00:00:00
5807
1973-05-03 00:00:00
7996
2001-07-25 00:00:00
863
2010-12-09 00:00:00
skip
2002-12-06 00:00:00
521
2010-06-25 00:00:00
skip
1970-01-02 00:00:00
8838
2005-09-15 00:00:00
skip
1973-02-21 00:00:00
8046
2005-11-16 00:00:00
skip
1995-12-08 00:00:00
2282
1983-09-23 00:00:00
5369
2012-07-23 00:00:00
skip
1981-07-09 00:00:00
5929
2018-08-28 00:00:00
skip
1993-12-14 00:00:00
2784
1981-12-31 00:00:00
5807
2007-09-25 00:00:00
skip
2003-12-02 00:00:00
273
1982-06-02 00:00:00
5702
2015-09-25 00:00:00
skip
2013-04-09 00:00:00
skip
2001-06-20 00:00:00
887
2012-10-12 00:00:00
skip
1997-05-05 00:00:00
1928
1980-03-17 00:00:00
6260
1975-06-12 00:00:00
7463
1993-10-13 00:00:00
2827
1984-09-07 00:00:00
5127
2011-10-13 00:00:00
skip
1973-02-21 00:00:00
8046
2012-05-18 00:00:00
skip
1980-03-17 00:00:00
6260
1977-01-03 00:00:00
7069
1997-11-21 00:00:00
1787
1970-01-02 00:00:00
8838
1973-05-03 00:00:00
7996
1992-05-19 00:00:00
3182
2003-10-06 00:00:00
313
2011-09-16 00:00:00
skip
1973-03-13 00:00:00
8032
2016-12-16 00:00:00
skip
2013-11-07 00:00:00
skip
1989-10-04 00:00:00
3845
1980-03-17 00:00:00
6260
1980-03-17 00:00:00
6260
2015-07-01 00:00:00
skip
2013-02-15 00:00:00
skip
1995-11-17 00:00:00
2296
1977-01-03 00:00:00
7069
1970-01-02 00:00:00
8838
2008-03-17 00:00:00
skip
1995-10-03 00:00:00
2329
1994-10-31 00:00:00
2562
1973-02-21 00:00:00
8046
1983-08-04 00:00:00
5404
1973-02-21 00:00:00
8046
1999-01-04 00:00:00
1508
1996-12-17 00:00:00
2023
1994-03-11 00:00:00
2723
1970-01-02 00:00:00
8838
1970-01-02 00:00:00
8838
2011-03-22 00:00:00
skip
2006-10-17 00:00:00
skip
1973-05-03 00:00:00
7996
2001-01-30 00:00:00
985
2002-05-23 00:00:00
658
1980-03-17 00:00:00
6260
1980-03-17 00:00:00
6260
2006-11-06 00:00:00
skip
1973-02-21 00:00:00
8046
2004-08-02 00:00:00
107
1980-03-17 00:00:00
6260
2013-12-09 00:00:00
skip
2015-07-06 00:00:00
skip
1983-09-30 00:00:00
5364
1997-11-10 00:00:00
1796
1995-04-04 00:00:00
2455
1980-03-17 00:00:00
6260
1980-03-17 00:00:00
6260
1980-03-17 00:00:00
6260
1994-02-17 00:00:00
2738
1980-03-17 00:00:00
6260
1980-03-17 00:00:00
6260
1983-11-22 00:00:00
5327
1981-12-31 00:00:00
5807
1990-02-08 00:00:00
3757
2001-12-13 00:00:00
768
1994-11-10 00:00:00
2554
1973-02-21 00:00:00
8046
1980-03-17 00:00:00
6260
2011-10-12 00:00:00
skip
1999-10-29 00:00:00
1300
1980-03-17 00:00:00
6260
1995-06-02 00:00:00
2414
1973-10-23 00:00:00
7876
2014-06-06 00:00:00
skip
2014-05-29 00:00:00
skip
2006-07-05 00:00:00
skip
1983-08-26 00:00:00
5388
1980-03-17 00:00:00
6260
1995-05-09 00:00:00
2431
2000-10-23 00:00:00
1052
2000-07-28 00:00:00
1112
2005-09-27 00:00:00
skip
2000-08-16 00:00:00
1099
1990-06-12 00:00:00
3672
1994-01-28 00:00:00
2752
1999-03-16 00:00:00
1459
1973-02-21 00:00:00
8046
2002-07-17 00:00:00
621
1999-06-04 00:00:00
1403
1980-03-17 00:00:00
6260
1973-02-21 00:00:00
8046
2004-11-05 00:00:00
39
1998-06-29 00:00:00
1638
1993-04-23 00:00:00
2947
1995-08-25 00:00:00
2355
1993-04-28 00:00:00
2944
1997-08-08 00:00:00
1861
2013-06-13 00:00:00
skip
1992-02-26 00:00:00
3240
2004-08-19 00:00:00
94
1987-10-26 00:00:00
4336
1997-09-17 00:00:00
1834
2005-12-21 00:00:00
skip
1992-05-19 00:00:00
3182
1972-06-01 00:00:00
8226
1991-04-02 00:00:00

3469
1973-05-02 00:00:00
7997
1980-03-17 00:00:00
6260
1999-06-10 00:00:00
1399
2016-03-23 00:00:00
skip
1983-11-21 00:00:00
5328
1987-09-28 00:00:00
4356
1980-03-17 00:00:00
6260
1983-06-17 00:00:00
5437
2007-06-14 00:00:00
skip
1985-11-20 00:00:00
4823
1980-03-17 00:00:00
6260
2012-06-18 00:00:00
skip
1982-04-01 00:00:00
5744
1980-03-17 00:00:00
6260
2009-12-17 00:00:00
skip
1998-07-01 00:00:00
1636
1974-12-17 00:00:00
7585
2001-10-30 00:00:00
799
2010-04-28 00:00:00
skip
1980-03-17 00:00:00
6260
1980-03-17 00:00:00
6260
1985-08-08 00:00:00
4895
2004-06-03 00:00:00
147
1980-01-02 00:00:00
6312
1996-02-28 00:00:00
2227
1973-02-21 00:00:00
8046
1980-10-01 00:00:00
6122
1973-05-03 00:00:00
7996
2014-07-31 00:00:00
skip
1980-03-17 00:00:00
6260
1997-08-15 00:00:00
1856
1992-04-01 00:00:00
3215
2007-05-03 00:00:00
skip
1979-05-15 00:00:00
6472
1973-02-21 00:00:00
8046
1973-02-21 00:00:00
8046
2013-01-18 00:00:00
skip
1980-03-17 00:00:00
6260
1982-07-30 00:00:00
5661
2012-08-03 00:00:00
skip
1983-07-01 00:00:00
5427
1980-03-17 00:00:00
6260
2001-12-13 00:00:00
768
1980-03-17 00:00:00
6260
1986-09-25 00:00:00
4610
1981-12-31 00:00:00
5807
1993-08-12 00:00:00
2870
1988-02-29 00:00:00
4250
1988-07-06 00:00:00
4161
1980-03-17 00:00:00
6260
1995-10-31 00:00:00
2309
2006-09-06 00:00:00
skip
1970-01-02 00:00:00
8838
1994-10-18 00:00:00
2571
1980-03-17 00:00:00
6260
1997-04-15 00:00:00
1942
1999-11-05 00:00:00
1295
1981-12-31 00:00:00
5807
1980-12-12 00:00:00
6072
2012-12-04 00:00:00
skip
1973-05-03 00:00:00
7996
1980-03-17 00:00:00
6260
2000-12-08 00:00:00
1019
1998-01-02 00:00:00
1760
2013-12-12 00:00:00
skip
1989-08-23 00:00:00
3874
1995-03-07 00:00:00
2475
1980-03-17 00:00:00
6260
2007-04-19 00:00:00
skip
1995-11-21 00:00:00
2294
1991-11-22 00:00:00
3304
1981-10-27 00:00:00
5852
1977-01-03 00:00:00
7069
1987-07-29 00:00:00
4398
1987-11-05 00:00:00
4328
1986-11-06 00:00:00
4580
2014-10-20 00:00:00
skip
1972-06-01 00:00:00
8226
2002-10-25 00:00:00
550
1980-03-17 00:00:00
6260
1980-03-17 00:00:00
6260
2000-01-28 00:00:00
1238
1994-01-03 00:00:00
2771
1998-06-19 00:00:00
1644
1980-03-17 00:00:00
6260
1984-06-01 00:00:00
5195
1975-11-17 00:00:00
7353
1970-01-02 00:00:00
8838
2019-04-04 00:00:00
skip
1970-01-02 00:00:00
8838
1988-06-22 00:00:00
4170
1980-03-17 00:00:00
6260
2001-06-15 00:00:00
890
2004-06-23 00:00:00
134
1995-11-17 00:00:00
2296
1989-06-02 00:00:00
3931
1993-08-13 00:00:00
2869
1984-05-04 00:00:00
5214
1980-03-17 00:00:00
6260
1999-10-01 00:00:00
1320

In [32]:
df_empty

,sp500/csv/CSCO.csv,sp500/csv/CSCO.csv Date,sp500/csv/TROW.csv,sp500/csv/TROW.csv Date,sp500/csv/ISRG.csv,sp500/csv/ISRG.csv Date,sp500/csv/NVR.csv,sp500/csv/NVR.csv Date,sp500/csv/MRO.csv,sp500/csv/MRO.csv Date,...,sp500/csv/IEX.csv,sp500/csv/IEX.csv Date,sp500/csv/BWA.csv,sp500/csv/BWA.csv Date,sp500/csv/LRCX.csv,sp500/csv/LRCX.csv Date,sp500/csv/NWL.csv,sp500/csv/NWL.csv Date,sp500/csv/BLK.csv,sp500/csv/BLK.csv Date
3751,19.420000,03-01-2005,NaN,NaN,167.550003,18-05-2015,NaN,NaN,NaN,NaN,...,NaN,NaN,20.070000,07-07-2008,NaN,NaN,NaN,NaN,330.000000,29-08-2014
3752,19.379999,04-01-2005,NaN,NaN,167.773331,19-05-2015,NaN,NaN,NaN,NaN,...,NaN,NaN,19.215000,08-07-2008,NaN,NaN,NaN,NaN,332.410004,02-09-2014
3753,18.469999,05-01-2005,NaN,NaN,168.000000,20-05-2015,NaN,NaN,NaN,NaN,...,NaN,NaN,20.100000,09-07-2008,NaN,NaN,NaN,NaN,331.579987,03-09-2014
3754,18.670000,06-01-2005,NaN,NaN,163.660004,21-05-2015,NaN,NaN,NaN,NaN,...,NaN,NaN,19.934999,10-07-2008,NaN,NaN,NaN,NaN,333.049988,04-09-2014
3755,18.920000,07-01-2005,NaN,NaN,164.929993,22-05-2015,NaN,NaN,NaN,NaN,...,NaN,NaN,19.700001,11-07-2008,NaN,NaN,NaN,NaN,331.000000,05-09-2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7828,49.189999,16-03-2021,72.309998,20-04-2017,NaN,NaN,1704.500000,09-08-2016,NaN,NaN,...,151.600006,26-06-2020,NaN,NaN,80.989998,22-05-2015,19.270000,25-03-2011,NaN,NaN
7829,49.610001,17-03-2021,72.379997,21-04-2017,NaN,NaN,1707.209961,10-08-2016,NaN,NaN,...,155.839996,29-06-2020,NaN,NaN,80.709999,26-05-2015,19.570000,28-03-2011,NaN,NaN
7830,48.520000,18-03-2021,72.970001,24-04-2017,NaN,NaN,1707.040039,11-08-2016,NaN,NaN,...,153.860001,30-06-2020,NaN,NaN,80.570000,27-05-2015,19.190001,29-03-2011,NaN,NaN
7831,48.709999,19-03-2021,71.000000,25-04-2017,NaN,NaN,1707.000000,12-08-2016,NaN,NaN,...,158.250000,01-07-2020,NaN,NaN,82.610001,28-05-2015,19.360001,30-03-2011,NaN,NaN
7832,48.939999,22-03-2021,69.500000,26-04-2017,NaN,NaN,1699.000000,15-08-2016,NaN,NaN,...,157.449997,02-07-2020,NaN,NaN,82.379997,29-05-2015,19.290001,31-03-2011,NaN,NaN

In [42]:
pd.DataFrame(df_empty.iloc[0:100])

,sp500/csv/CSCO.csv,sp500/csv/CSCO.csv Date,sp500/csv/TROW.csv,sp500/csv/TROW.csv Date,sp500/csv/ISRG.csv,sp500/csv/ISRG.csv Date,sp500/csv/NVR.csv,sp500/csv/NVR.csv Date,sp500/csv/MRO.csv,sp500/csv/MRO.csv Date,...,sp500/csv/IEX.csv,sp500/csv/IEX.csv Date,sp500/csv/BWA.csv,sp500/csv/BWA.csv Date,sp500/csv/LRCX.csv,sp500/csv/LRCX.csv Date,sp500/csv/NWL.csv,sp500/csv/NWL.csv Date,sp500/csv/BLK.csv,sp500/csv/BLK.csv Date
0,19.420000,03-01-2005,31.230000,03-01-2005,13.340000,03-01-2005,736.000000,03-01-2005,11.205253,03-01-2005,...,26.946667,03-01-2005,13.5875,03-01-2005,28.700001,03-01-2005,24.299999,03-01-2005,77.010002,03-01-2005
1,19.379999,04-01-2005,30.844999,04-01-2005,12.583333,04-01-2005,745.500000,04-01-2005,10.874195,04-01-2005,...,26.420000,04-01-2005,13.2700,04-01-2005,27.480000,04-01-2005,24.129999,04-01-2005,75.769997,04-01-2005
2,18.469999,05-01-2005,29.905001,05-01-2005,12.023333,05-01-2005,720.099976,05-01-2005,10.787703,05-01-2005,...,25.666668,05-01-2005,12.9475,05-01-2005,26.170000,05-01-2005,23.500000,05-01-2005,75.699997,05-01-2005
3,18.670000,06-01-2005,29.785000,06-01-2005,12.053333,06-01-2005,710.000000,06-01-2005,10.620683,06-01-2005,...,25.266666,06-01-2005,12.8375,06-01-2005,25.879999,06-01-2005,23.049999,06-01-2005,76.250000,06-01-2005
4,18.920000,07-01-2005,30.180000,07-01-2005,12.420000,07-01-2005,710.000000,07-01-2005,10.939810,07-01-2005,...,25.333332,07-01-2005,12.8750,07-01-2005,26.000000,07-01-2005,23.250000,07-01-2005,80.000000,07-01-2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19.230000,19-05-2005,29.590000,19-05-2005,15.073333,19-05-2005,738.000000,19-05-2005,13.597218,19-05-2005,...,25.466667,19-05-2005,12.8325,19-05-2005,28.379999,19-05-2005,22.510000,19-05-2005,78.339996,19-05-2005
96,19.389999,20-05-2005,29.790001,20-05-2005,15.766667,20-05-2005,755.500000,20-05-2005,13.808975,20-05-2005,...,25.546667,20-05-2005,12.8025,20-05-2005,28.389999,20-05-2005,22.600000,20-05-2005,78.360001,20-05-2005
97,19.350000,23-05-2005,29.820000,23-05-2005,15.593333,23-05-2005,745.000000,23-05-2005,13.570375,23-05-2005,...,25.266666,23-05-2005,13.1450,23-05-2005,28.900000,23-05-2005,22.750000,23-05-2005,78.250000,23-05-2005
98,19.480000,24-05-2005,29.860001,24-05-2005,15.993333,24-05-2005,746.000000,24-05-2005,14.131085,24-05-2005,...,25.500000,24-05-2005,13.1750,24-05-2005,28.740000,24-05-2005,22.980000,24-05-2005,78.000000,24-05-2005
99,19.840000,25-05-2005,29.504999,25-05-2005,16.166668,25-05-2005,750.500000,25-05-2005,14.205648,25-05-2005,...,25.566668,25-05-2005,13.1650,25-05-2005,29.580000,25-05-2005,22.620001,25-05-2005,77.500000,25-05-2005